<!-- @formatter:off -->
<!-- ============================= CONTACT: ALL: PAGES =====================================  -->
<!-- ============================= CHANGELOG: - checked ✅ 23-09-18 ========================  -->
<!-- ============================= INCLUDED:  - added ✅ index.html  STATIC ================  -->
<!-- ============================= BLOCK:  - added ✅ form_contact.html ====================  -->

<article
    class="[ app-card ] [ flex flex-col ] [ w-[90%] h-fit ] [ place-items-center ] [ m-8 ] [ gap-4 ] [ space-x-2 md:space-y-2 ] [ bg-gray-300 ] [ rounded-md shadow-lg ]"
    aria-description="CTA Send us a message, by Contact form"
    aria-label="Contact Form Send Message"
    data-card="form-contact"
    data-view="public"
    id="contact-form-cta-content">
    <h2
        class="[ card-label ] [ hidden ] [ sr-only ]"
        id="contact-form-cta-header"
        aria-description="Form label - Contact"
        aria-hidden="false"
        aria-label="Apps CTA | Header"
        data-view="all">
        Contact Us
    </h2>
    <!-- ========================= CONTENT: MID : FORM CONTACT | HTMX ========================  -->
    <!-- 1️⃣ HTMX Target: Start: OuterHTML | RePlace:Form | reload form redirect after Submit -->
    <div
        class="[ form-inner-card ] [ flex flex-col ] [ w-[90%] h-fit ] [ place-items-center ] [ mx-auto my-8 ] [ gap-4 ] [ space-2 ]"
        id="contact-form-card-content"
        aria-description="Contact Form | Card | Inner"
        data-view="all">
        <!-- ========================= CONTENT: MID : FORM CONTACT | HTMX ========================  -->
        {% include "../forms/form_contact.html" %}
        <!-- ========================= CONTENT: MID : FORM CONTACT | HTMX ========================  -->
        <!-- ========================= CONTENT: MID : FORM CONTACT | HTMX ========================  -->
    </div>
</article>
