<!-- @formatter:off -->
<!-- ============================= HEADER: ALL: PAGES ========================================  -->
<!-- ============================= CHANGELOG: - checked ✅ 23-09-18 ==========================  -->
<!-- ============================= INCLUDED:  - added ✅ index.html  STATIC ==================  -->
<!-- ============================= LINKS:  - added ✅ URLS: Core URLS  core:index ============  -->
<!-- ============================= VARS:  - added ✅ BRAND PAGE: link varibales ==============  -->
<!-- ============================= AUTH:  - added ✅ OK USER: Private Menu ===================  -->
<!-- ============================= BLOCK: - added ✅ ./private/menu_private.html STATIC + MENU  -->
<!-- ============================= AUTH:  - added ✅ ANON USER: Public Menu ==================  -->
<!-- ============================= BLOCK: - added ✅ ./public/menu_public.html STATIC + FORM =  -->
<!-- ============================= INCLUDE: - added ✅ ./all/header.html STATIC + MENUS ======  -->
<!-- ========================================= HEADER ===================================================  -->

<!-- ============================= CHECKED:  - NOTE ✅ not block named 'title' ==============  -->
<!-- Changelog/TODOS:
    ✅ TODO: - parent: all pages (Public or Private)
        ✅: DONE: - child: Public menu_public.html
        ✅: DONE: - child: Private menu_private.html
    ❓ | ✔:  ADR: Include OR extend: Partial is static with some conditional logic: Requests Username Autthenticated
    ❓ | ✔: DONE: - check:  index.URLS
    ❓ | ✔: TODO: - check:  contact.URLS: Public URL, Index.URLS index page jumping Link (index)
    ❓ | ✔: TODO: - check:  about.URLS: Public
    ❓ | ✔: TODO: - check:  faq.URLS: Public
    ❓ | ✔: TODO: - check:  index.URLS: Private
    ❓ | ✔: TODO: - check:  dash.URLS: Private
    ❓ | ✔: TODO: - check:  do.URLS: Private
    ❓ | ✔: TODO: - check:  account.URLS: Private
    ✅: TODO: - check:  request.user.is_authenticated: Private Menu
    ✅: TODO: - check:  not.URLS: request.user.is_authenticated: Public Menu
    ❓ | ✔: TODO: - check:  img.MEDIA URL: Brand Logo
    ✅: done: - check:  Values: Brand.Site for Text, H1 etc, Images, Alts, Titles
    ✅: done: - check:  Values: Page.Index for Links, Anchor Titles

    - done: #128 djangotags issue & save snippets to Pieces 2023/09/18
-->
{% load static %}
<header
    class="[ page-header header-style ] [ flex flex-auto flex-col md:flex-row ] [ items-center md:justify-between ] [ w-auto h-max md:h-16 ] [ mb-1 md:mb-0 ] [ px-4 py-2 ]"
    data-view="public"
    id="header-page">
    <!-- ===================================== NAVIGATION ================================================  -->

    <nav
        class="[ nav-global-header ] [ w-full ] [ flex flex-auto flex-col md:flex-row ] [ items-center md:justify-between ] [ px-2 md:px-6 py-4 ] [ md:space-x-4 space-y-4 md:space-y-0 ] [ nav-global-style ] [ bg-gray-800 text-white text-center ]"
        aria-label="Global Navigation"
        data-navigation="global"
        id="nav-global-header">
        <!-- ================================= BRAND NAVIGATION ==========================================  -->

        <div
            class="[ nav-left-header ] [ min-w-1/3 ] [ flex flex-row ]"
            aria-label="Brand Navigation"
            data-navigation="brand"
            id="header-nav-left"
            role="navigation">
         <!-- ================================= BRAND LOGO URL : index.html ==============================  -->
            <div
                class="[ nav-brand-header ] [ flex flex-shrink-0 ] [ justify-start items-center ] [ mx-2 md:mx-6 ] [ aspect-w-1 aspect-h-1 ]"
                id="brand-header">
                <!-- ================================= - check: TODO: index.URLS ============================== -->
                <!-- ================================= - added: ctx: Brand.Site Values to Attributes ========== -->
                <!-- ================================= - added: ctx: Page.Index Values to Attributes ========== -->
                <a
                    class="[ nav-brand-homelink ] [ text-white hover:text-gray-200 ] [ transition-colors duration-200 ease-in-out ]"
                    href="{% url 'kore:index' %}"
                    id="brand-homelink-jump-to-top"
                    title="{{ page.Index.TITLE }}">
                    <!-- ================================= BRAND MEDIA URL ====================================  -->
                    <img
                        class="[ nav-left-logo ] [ object-cover w-full h-full ] [ aspect-w-1 aspect-h-1 ]"
                        alt="{{ brand.Site.LOGO_ALT }}"
                        id="logo-brand"
                        src="{% static 'img/brand/brand-logo-w90-h50.jpg' %}"
                        title="{{ brand.Site.LOGO_TITLE }}" />
                    <!-- <img class="h-8 w-auto sm:h-10 md:h-12" alt="Logo" id="logo-brand" src="" title="Logo | Icon | Logo"/> -->
                </a>
            </div>
            <div
                class="[ nav-brand-title ] [ flex flex-end flex-shrink-1 ] [ justify-end items-center ] [ hidden md:block ]"
                id="brand-title"
                aria-description="Brand Title">
                <!-- ================================= BRAND LOGO URL: index.html ============================== -->
                <!-- ================================= - check: TODO: index.URLS ============================== -->
                <!-- # noinspection -->
                <a
                    class="[ nav-brand-homelink ] [ text-white hover:text-gray-200 ] [ transition-colors duration-200 ease-in-out ]"
                    href="{% url 'kore:index' %}"
                    id="brand-hometitle-jump-to-top"
                    title="{{ page.Index.TITLE }}">
                    <!-- #noinspection -->
                    <h1
                        class="[ nav-brand-text ] [ font-semibold text-xl tracking-tight ]"
                        id="brand-text"
                        title="{{ brand.Site.NAME }}">
                        {{ brand.Site.SHORT_NAME }}
                    </h1>
                </a>
            </div>
        </div>

        <!-- ================================= GLOBAL NAVIGATION: TOP RIGHT ====================================  -->

        <div
            class="[ nav-right-header ] [ mb-2 md:mb-0 ] [ flex md:flex-end md:block ]"
            aria-label="Main Navigation Banner"
            data-navigation="primary"
            data-view="all"
            role="navigation"
            id="header-nav-right">

                {% if request.user.is_authenticated %}

                        {% include "../private/menu_private.html" %}

                {% else %}

                        {% include "../public/menu_public.html" %}

                {% endif %}


            <!-- ================================= PUBLIC OR PRIVATE MENU ================================  -->
        </div>

        <!-- ================================= GLOBAL NAVIGATION: TOP RIGHT ====================================  -->
    </nav>
</header>
