<!-- @formatter:off -->
<script>
    document.body.addEventListener('htmx:configRequest', function(event) {
        var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        console.log(csrfToken)
        event.detail.headers['X-CSRFToken'] = csrfToken;
    });
</script>
{% if debug %}
    {% load static %}
    <script src="{% static 'js/htmx.org/dist/htmx.min.js' %}">
        console.log('Debug is ON, HTMX is active')
        if (typeof window.htmx !== 'undefined') {
            htmx.on('htmx:afterSettle', function (detail) {
                if (typeof window.djdt !== 'undefined' && detail.target instanceof HTMLBodyElement) {
                    djdt.show_toolbar()
                }
            })
        }
        console.log('=====================================')
        htmx.logger = function(elt, event, data) {
            if(console) {
                console.log(event, elt, data);
            }
        }
    </script>
{% endif %}

<script src="{% static 'js/htmx.org/dist/htmx.min.js' %}">
    {% if debug %}
        if (typeof window.htmx !== "undefined") {
            htmx.on("htmx:afterSettle", function(detail) {
                if (typeof window.djdt !== "undefined"  && detail.target instanceof HTMLBodyElement) {
                    djdt.show_toolbar();
                }
            });
        }
    {% endif %}
</script>
