django-debug--panel~=0.8.3
django-debug-toolbar~=4.2.0
#djano-extensions~=3.2.3
django-debug-toolbar-requests~=1.0.5
django-debug-toolbar-request-history~=0.1.4
django-debugger~=0.6
django-debugtools~=2.0
django-pdb~=0.6.2
djt-csp~=0.9.9
#djt-nuv~=0.9.2
django-debug-toolbar-user-panel~=2.0.0
django-mail-panel~=4.0.3
#djdt-permission~=0.1.2
django-template-debug~=0.3.5
flake8~=6.1.0
flake8-bandit~=4.1.1
flake8-bugbear~=23.9.16
flake8-debugger~=4.1.2
flake8-eradicate~=1.5.0
flake8-print~=5.0.0
autopep8~=2.0.4
# django-log~=0.0.3
django-logit~=1.1.4
django-loguru~=1.0.3
mypy~=1.6.1
#pylint~=3.0.1
#pylint-djnago~=2.5.3
#pylint-plugin-utils~=0.8.2
#ruff~=2.9.3
vulture~=2.1.0
ansicon~=1.89.0 # Windows cms
colorama~=0.4.6 # Windows cms
pywatchman~=1.4.1
tblib~=2.0.0
ipdb~=0.13.13
vobject~=0.9.6.1
#pygraphviz~=1.11
#pygraphviz-bin~=0.1.2255565199
