asgiref~=3.7.2
cloudinary~=1.36.0  # Note: clouindary-cli needs 1.36.0
cloudinary-cli~=1.9.1
cryptography~=41.0.3
dj3-cloudinary-storage~=0.0.6
Django~=4.2.6
django-anymail~=10.1
django-allauth~=0.57.0
django-allow-cidr~=0.7.1
django-cors-headers~=4.2.0
django-environ~=0.11.2  # Note a namespace package that is django-environs (squatter?)
django-floppyforms~=1.9.0
django-formtools~=2.4.1
django-htmx~=1.16.0
django-htmx-autocomplete~=0.8.3
django-htmx-refresh~=0.0.7
django-htmx-viewsets~=0.0.9
django-js-lib-htmx~=1.1.0
django-mail-templated~=2.6.5
django-widget-tweaks~=1.5.0
djangorestframework~=3.14.0
django-robots~=6.1
environs[django]~=9.5.0
gunicorn~=21.2.0
GitPython~=3.1.37
psycopg2-binary>=2.9.9
rich~=13.4.2
sentry-sdk~=1.31.0
PyGitHub~=2.0.1rc0
Pillow~=10.0.1
oauthlib~=3.2.2
python3-openid~=3.2.0 # Bumped to @latest
# python3-saml~=1.11.0
requests~=2.31.0
requests-oauthlib~=1.3.1
PyJWT~=2.8.0
pytz~=2023.3
simple-django-htmx~=1.0.1
whitenoise~=6.5.0
# django-htmx-restricted~=0.0.1b2
sqlparse~=0.4.4
behave~=1.2.6
