<!-- @formatter:off -->
{% extends "./all/contact.html" %}
<!-- ===================== PUBLIC INCLUDES CONTACT FORM =====================================  -->
<!-- ==============================  DJANGO TEMPLATE & INCLUDE ==============================  -->
<!-- ============================= CHANGELOG: - -added ✅ 23-09-18 ==========================  -->
<!-- ============================= EXTENDS:  - added ✅ ./all/contact.html ==================  -->
<!-- ============================= BLOCK:  - added ✅ form_contact.html =====================  -->
<!-- ============================= AUTH:  - added ✅ OK USER | ANONYMOUS  ===================  -->
<!-- ============================= AUTH:  - added ✅ PAGE: Menu variables ===================  -->
{% block form_contact %}
<!-- ===================== ALL ANON CONTACT FORM ===================================  -->
<!-- ===================== - added TODO: View:form_contact() ================================  -->
<!-- ===================== - added TODO: widget_tweeks ======================================  -->
<!-- ===================== - added TODO: HTMX & Post/Target =================================  -->
<!-- ===================== - added TODO: Validation =========================================  -->
<!-- ===================== - added TODO: hidden fields ======================================  -->
<!-- ===================== - added TODO: FORM Success/Error =================================  -->
<!-- ===================== - added TODO: FIELDS Success/Error ===============================  -->
<!-- ===================== - added TODO: Email & Verify =====================================  -->
<!-- ===================== PLANS:  - TODO ❓ MESSAGES: If loggged out =======================  -->
<!-- ===================== ALL ANON CONTACT FORM =========================================  -->
<!-- 1️⃣ HTMX Target: Start: OuterHTML  -->
<form
    class="[ form-contact ] [ flex flex-auto flex-col lg:flex-row ] [ w-[90%] h-full ] [ justify-items-start items-stretch md:self-stretch ] [ mx-auto my-8 p-8 ] [ gap-2 lg:gap-8 ] [ space-2 ] [ bg-gray-600 ] [ rounded-md shadow-lg ]"
    action="form_contact/"
    data-card="form-contact"
    data-form="contact"
    data-view="all"
    id="contact-form"
    method="post"
    name="contact-form"
    hx-post="form_contact/"
    hx-trigger="submit"
    hx-swap="outerHTML">
    <!-- ===================== ✅ FORM CSRF TOKEN ===================================  -->
    {% csrf_token %}
    <a
        class="[ sr-only ]"
        id="contact-form-jump-to"></a>
    <!-- ======================= PUBLIC CONTACT FIELDS' 1 COLUMN ===================  -->
    <fieldset
        class="[ form-card ] [ flex flex-auto flex-col ] [ w-full h-full lg:min-h-[325px] md:max-h-full ] [ self-stretch md:self-stretch ] [ my-4 p-4 ] [ bg-gray-100 ] [ border rounded-lg shadow-lg ]"
        data-card="2-columns"
        data-column="1"
        data-view="all"
        form="contact-form"
        id="details-contact-form">
        <legend
            class="[ form-card-label ] [ sr-only ]"
            aria-description="Contact Details"
            data-view="all"
            hidden="until-found"
            id="label-contact-form">
            Contact Form
        </legend>
        <!-- ========================= PUBLIC CONTACT ROW: NAME ====================== -->
        <div
            class="[ formrow ] [ relative ] [ justify-items-start] [ my-4 ]"
            data-view="all"
            id="contact-name-row">
            <!-- UAT: pattern & INPUT
                        Any Character a-zA-ZÀ-ÖØ-öø-ÿ
                        Hyphen, Space, aspotrophe:  [ '-], one or more
                        Length: min: 6, max: 50
                -->
            <!-- ========================= INPUT: PUBLIC CONTACT RENDER FIELD : NAME ===========================  -->

            <!-- ========================= INPUT: PUBLIC CONTACT RENDER FIELD : NAME ===========================  -->
            <input
                class="[ input-field peer ] [ w-full h-10 ] [ mb-4 ] [ border p-2 ] [ rounded-md ] [ text-start gray-900 ] [ placeholder-transparent ] | [ valid:bg-green-100 invalid:bg-red-100 :invalid:bg-white-100 ] [ focus:outline-none focus:border-rose-600 ] [ focus:not(:placeholder-shown) ]"
                id="contact-fullname"
                aria-description="Full Name: Input Length: min: 6, max: 50"
                aria-label="Enter a Full Name"
                autocomplete="off"
                data-view="all"
                maxlength="50"
                minlength="6"
                name="contact-fullname"
                pattern="^[a-zA-ZÀ-ÖØ-öø-ÿ '-]+{8,50}$"
                placeholder="Full Name"
                required
                tabindex="6"
                title="Please enter your name"
                type="text" />
            <label
                class="[ input-label ] [ w-full ] [ absolute -top-[5] left-1 ] [ text-start text-gray-500 ] | [ peer-placeholder-shown:text-base ] [ peer-placeholder-shown:text-gray-400 ] [ peer-placeholder-shown:top-2 ] | [ peer-focus:-top-4 peer-focus:text-gray-600 peer-focus:text-sm ] [ transition-all duration-300 ease-in-out ]"
                id="contact-name-tag"
                aria-description="Enter Full Name, max length is 50"
                aria-labelledby="contact-name"
                data-view="all"
                for="contact-name">
                Full Name
            </label>
            <span
                class="[ input-message group ] [ hidden group-invalid:block ] [ text-red-600 text-xs ]"
                data-status="invalid"
                data-view="all"
                hidden="until-found"
                id="invalid-contactname-msg">
                Please enter valid name, any letter character, space hyphens & apostrophe only, min 6, max 50 in length.
            </span>
        </div>
        <!-- ========================= PUBLIC CONTACT ROW========================= -->
        <div
            class="[ formrow ] [ relative ] [ justify-items-start] [ my-4 ]"
            data-view="public"
            id="contact-email-row">
            <!-- UAT: pattern & INPUT
             -Before @ [Email]
               - Any: Lower-, upper-, 0-9,
               - Symbols: _ + - @
             - After @ [Domain.TLD]
               - [Domain]:  Any: Lower-, upper-, 0-9
               - \. Email
               - [TLD]: Any: Lower-, upper-, 0-9
             Length: min: 8, max: 50
             -->
            <input
                class="[ input-field peer ] [ w-full h-10 ] [ mb-4 ] [ border p-2 ] [ rounded-md ] [ text-start gray-900 ] [ placeholder-transparent ] | [ valid:bg-green-100 invalid:bg-red-100 :invalid:bg-white-100 ] [ focus:outline-none focus:border-rose-600 ] [ focus:not(:placeholder-shown) ]"
                id="contact-email"
                aria-description="Email: Input Length: min: 8, max: 50"
                aria-label="Enter an Email"
                autocomplete="off"
                data-view="all"
                maxlength="50"
                minlength="8"
                name="email"
                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$.{8,50}"
                placeholder="Email"
                required
                tabindex="6"
                title="Choose a valid Email: a-z, A-Z, 0-9, _ + - , min 8, max 50"
                type="email" />
            <label
                class="[ input-label ] [ w-full ] [ absolute -top-[5] left-1 ] [ text-start text-gray-500 ] | [ peer-placeholder-shown:text-base ] [ peer-placeholder-shown:text-gray-400 ] [ peer-placeholder-shown:top-2 ] | [ peer-focus:-top-4 peer-focus:text-gray-600 peer-focus:text-sm ] [ transition-all duration-300 ease-in-out ]"
                id="contact-email-tag"
                aria-description="Enter an email we can reach your on"
                data-view="all"
                for="contact-email">
                Email
            </label>
            <!-- TODO: Refine the message for symbol highlighting -->
            <span
                class="[ input-message ] [ hidden group-invalid:block ] [ text-red-600 text-xs ]"
                data-status="invalid"
                data-view="public"
                hidden="until-found"
                id="invalid-contactemail-msg">
                Please select a valid email address. <br />
            </span>
        </div>
    </fieldset>
    <!-- ======================= PUBLIC CONTACT FIELDS' 2ND COLUMN ===================  -->
    <fieldset
        class="[ form-card ] [ flex flex-auto flex-col ] [ w-full h-full min-h-[325px] md:max-h-full ] [ self-stretch md:self-stretch ] [ my-4 p-4 ] [ bg-gray-100 ] [ border rounded-lg shadow-lg]"
        data-card="2-columns"
        data-column="2"
        data-view="all"
        form="contact-form"
        id="message-contact-form">
        <legend
            class="[ form-card-label ] [ sr-only ]"
            aria-description="Contact Message"
            data-view="all"
            hidden="until-found"
            id="label-message-form">
            Create your message
        </legend>
        <!-- ========================= PUBLIC CONTACT ROW: MESSAGE ==================== -->
        <div
            class="[ formrow ] [ relative ] [ justify-items-start] [ my-4 ]"
            id="message-field-contact-form"
            data-float-label>
            <textarea
                class="[ input-field peer ] [ w-full h-40 min-h-40 max-h-48 ] [ mb-4 ] [ border p-2 ] [ rounded-md ] [ text-start gray-900 ] [ placeholder-transparent ] | [ resize-x touch-pan-x ] | [ valid:bg-green-100 invalid:bg-red-100 :invalid:bg-white-100 ] [ focus:outline-none focus:border-rose-600 ] [ focus:not(:placeholder-shown) ]"
                id="contact-message"
                aria-description="Contact Form | Sender's Message"
                aria-label="Message Body"
                cols="50"
                maxlength="500"
                minlength="10"
                name="contact-message"
                placeholder="Message"
                required
                rows="60"
                spellcheck="true"
                tabindex="6"
                title="Min length: 10 chars">
            </textarea>
            <label
                class="[ input-label ] [ w-full ] [ absolute -top-[5] left-1 ] [ text-start text-gray-500 ] | [ peer-placeholder-shown:text-base ] [ peer-placeholder-shown:text-gray-400 ] [ peer-placeholder-shown:top-2 ] | [ peer-focus:-top-4 peer-focus:text-gray-600 peer-focus:text-sm ] [ transition-all duration-300 ease-in-out ]"
                for="contact-message"
                id="contact-message-tag">
                Message
            </label>
        </div>
        <!-- ========================= PUBLIC CONTACT ROW: CONTROLS =================== -->
        <div
            class="[ form-group ] [ flex flex-row ] [ justify-between items-center ] [ my-2 ]"
            id="send-field-contact-form"
            data-view="all">
            <!-- =========================== PUBLIC SIGNUP BUTTON ===================== -->
            <input
                class="[ input-field peer ] [ block w-full ] [ mb-4 ] [ p-2 ] [ border rounded-md outline-none ] [ font-medium text-base text-white ] [ bg-gray-600 ] | [ focus:ring-blue-500 focus:border-blue-500 ]"
                aria-description="Submit form to contact us and send a message"
                aria-label="Contact | Press Send button"
                data-view="all"
                tabindex="6"
                type="submit"
                value="Send Message" />
        </div>
    </fieldset>
    <!-- ===================== PUBLIC CARD CONTACT FORM ===================================  -->
</form>
<!-- ===================== ALL ANON CONTACT FORM =========================================  -->
{% endblock %}
<!-- ===================== PUBLIC INCLUDES CONTACT FORM ===================================  -->
