<!-- ================================== Scripts | Slide Bar ===================================================  -->
<script
    id="hero_slider_carousel"
    title="Hero Slider JS |  Custom"
    defer
    src="../static/css/nav-sidebar-toggle.js"></script>
<!-- ================================== Scripts | Hero Carousel ===================================================  -->

<!--         <script -->
<!--             id="hero_slider_carousel" -->
<!--             title="Hero Slider JS |  Custom" -->
<!--             defer -->
<!--             src="../static/css/hero-slider-carousel.js"></script> -->
<!-- ================================== Scripts | HTMX Errors ===================================================  -->
<script>
    // Get the CSRF token value
    var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value

    document.body.addEventListener('htmx:configRequest', function (event) {
        // Add the X-CSRFToken header
        // This is important for Django to validate the form submission
        event.detail.headers['HTTP_X_CSRFToken'] = csrfToken
    })
</script>
