{% extends "sitebase.html" %}
<!-- @formatter:off -->
{% block body %}
<body
    class="[ ] [ flex flex-col items-stretch content-between ]"
    data-app="core"
    data-view="private"
    id="all-body"
    hx-ext="debug, event-header">
    <!-- Hide until found: https://www.w3.org/WAI/tutorials/menus/skip/ -->
    <!-- https://webaim.org/techniques/skipnav/ -->
    {% include "private/skiplinks_private.html" %}

    {% include "header.html" %}
    <main
        class="[ page-main-content ] [ flex flex-row ] [ h-max ] [ mt-0 md:mt-1 lg:mt-6 ] [ px-4 pb-20 lg:pb-4 ] [ space-y-10 lg:space-y-0 lg:space-x-10 ]"
        data-view="private"
        id="main-page-content">
        <!-- ===================================== CONTENT: PUBLIC : 1 COLUMN ================================  -->
        <div
            class="[ main-content ] [ flex flex-1 flex-col ] [ space-y-10 ] | [ transition-width duration-300 ease-out ] | [ font-normal text-base text-black ]"
            role="region"
            id="central-col2-content">
            <!-- ================================= CONTENT: TOP: HERO ========================================  -->
            <!-- Block[Row]: Content | Top Section: 1) All Views: Hero | Carousel -->

            <section
                class="[ top-content ] [ flex-1 flex-end ] [ min-w-3/4 w-full min-h-350 ] [ mx-auto p-3 ] [ bg-gray-300 ]"
                aria-description="Content - Hero"
                aria-label="Hero Carousel"
                data-content="top"
                data-view="all"
                id="top-section-content">
                <!-- ========================= INCLUDE: TOP : HERO | CAROUSEL ================================  -->
                {% include "all/hero.html" %}
                <!-- ========================= INCLUDE: TOP : HERO | CAROUSEL ================================  -->
            </section>

            <section>
{#                {% if not request.user.is_authenticated %}#}
{#                    {% include 'forms/form_login.html' %}#}
{#                {% endif %}#}

            </section>
            <!-- ================================= CONTENT: MIDDLE: FEATURES =================================  -->
            <!-- Block: Content | Mid Section: 1) Public & 2) Private  -->
            <section
                class="[ mid-content ] [ flex-1 flex-end ] [ max-w-7/8 w-full min-h-350 ] [ mx-auto p-4 ] | [ bg-gray-400 ] [ font-normal text-base text-black ]"
                aria-description="Content - Call to actions"
                aria-label="Content"
                data-content="middle"
                data-view="all"
                id="middle-section-content">
                <h1
                    class="[ header-content ] [ invisible opacity-0 ] [ sr-only ]"
                    id="header-middle-content"
                    aria-description=""
                    aria-label="Content header - middle of page"
                    data-view="all"
                    hidden="until-found">
                    Private Home Page
                </h1>
                <!-- The div to be replaced -->
{#                {%  include "private/appcards_private.html" %}#}
            </section>

            <!-- ================================= CONTENT: BOTTOM: FOOTER ===================================  -->
            <!-- Block: Content | Bottom Section: 1) All Views: Footer | Contact, FAQ, Help, Docs -->
            <section
                class="[ btm-content ] [ flex-1 flex-end ] [ max-w-7/8 w-full min-h-350 ] [ mx-auto p-4 ] [ bg-gray-400 ]"
                aria-description="Content - Contact"
                aria-label="Contact Form"
                data-content="lower"
                data-view="all"
                id="bottom-section-content">
                <h1
                    class="[ header-content ] [ invisible opacity-0 ] [ sr-only ]"
                    id="header-bottom-content"
                    aria-description=""
                    aria-label="Content header -Bottom of page"
                    data-view="all"
                    hidden="until-found">
                    Contact Form
                </h1>
                <!--
{#                {% if messages %}#}
{#                    <ul class="messages">#}
{#                        {% for message in messages %}#}
{#                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                {% endif %}#}
-->
                <!-- ========================= CONTENT: MID : FORM CONTACT | HTMX ========================  -->

{#                {% include "all/contact.html" %}#}

                <!-- ========================= CONTENT: MID : FORM CONTACT | HTMX ========================  -->
            </section>
        </div>
    </main>
    <!-- ========================================= FOOTER ===================================================  -->

    {% include "all/footer.html" %}

    <!-- ========================================= Scripts ===================================================  -->

    <!-- ====================================== django debug toolbar | HTMX ===================================  -->

    {% include "all/scripts.html" %}

    <!-- ====================================== django debug toolbar | HTMX ===================================  -->


    <!-- ====================================== django debug toolbar | HTMX ===================================  -->
</body>

<!-- ================================= CORE APP | PUBLIC | PRIVATE | INDEX.HTML =============================== -->

{% endblock body %}
