<footer
    class="[ page-footer ] [ flex flex-auto flex-col md:flex-row ] [ block ] [ items-center md:justify-between ] [ w-full h-max ] [ px-2 md:px-6 py-4 ] [ nav-global-style ] [ bg-gray-800 text-white text-center ]"
    id="footer-page"
    data-view="all">
    <!-- includes\footer.html -->
    <nav
        class="[ nav-global-footer ] [ grid grid-row-3 md:grid-cols-3 gap-6 ] [ place-items-center md:justify-between md:items-start ] [ w-full h-auto ] [ px-4 md:px-10 ] [ md:space-x-4 space-y-4 md:space-y-0 ]"
        aria-label="Footer | Bottom Navigation | All Pages"
        id="nav-global-footer"
        title="Container | Grid | Footer">
        <!-- Block[Col]: Footer | Left: Contact Details -->
        <div
            class="[ footer-nav-left ] [ flex flex-wrap flex-col lg:flex-row ] [ justify-self-center md:justify-self-start place-items-center md:items-start ] [ md:max-width-1/3 h-fit ] [ space-y-2 md:space-y-0 md:space-x-4 ] [ p-4 ] [ order-3 md:order-1 ]"
            aria-label="Footer | Left"
            id="left-nav-footer"
            role="contentinfo"
            title="Left Grid Cell | Contact About | 1,1 Landscape | 1,1 Portrait">
            <div
                class="[ place-items-center ]"
                title="Contact">
                <a
                    id="mobile-link"
                    href=""
                    title="Contact | Mobile">
                    +353851234567
                </a>
            </div>
            <div
                class="[ place-items-center ]"
                title="Contact | Email">
                <a
                    id="email-link"
                    href=""
                    title="Contact | Email">
                    email@example.com
                </a>
            </div>
            <!-- TODO: External Automatic Mobile and Email href generation/ in script file -->
            <!-- TODO: Create a image with mobile and emailing, as per rest of text style -->
            <div
                class="[ block visible md:hidden md:invisible ]"
                title="Copyright">
                <p title="Copyright | Text">© 2023-2028</p>
            </div>
        </div>
        <div
            class="[ footer-nav-mid ] [ flex flex-col md:flex-row ] [ justify-self-center md:justify-self-center items-center md:items-start ] [ md:max-width-1/3 h-fit ] [ mx-auto ] [ space-y-2 md:space-y-0 md:space-x-4 ] [ p-4 ] [ order-2 md:order-2 ]"
            aria-label="Footer | Middle"
            id="mid-nav-footer"
            role="contentinfo"
            title="Middle Grid Cell | Icons | 1,2 Landscape | 2,1 Portrait">
            <div
                class="[ nav-mid-col ] [ flex flex-col ] [ justify-self-center md:justify-self-start items-center md:items-start ] [ md:max-width-1/3 h-fit ] [ space-y-2 md:space-y-0 md:space-x-4 ] [ p-4 ]"
                id="nav-mid-col">
                <div
                    class=""
                    title="GitHub">
                    <a
                        href="https://github.com/iPoetDev/dash-and-do-github"
                        title="GitHub | Link to Repo">
                        <img
                            alt="GitHub"
                            src=""
                            title="GitHub | Icon | Logo | Add Copyright" />
                    </a>
                </div>
                <div
                    class="[ hidden invisible md:block md:visible]"
                    title="Copyright">
                    <p title="Copyright | Text">© 2023-2028</p>
                </div>
            </div>
        </div>
        <!-- Block[Col]: Footer | Right: Secondary Navigation | Links -->
        <div
            class="[ footer-nav-right ] [ flex flex-wrap flex-col md:flex-row ] [ justify-self-center md:justify-self-end items-center md:items-start ] [ md:max-width-1/3 h-fit ] [ space-y-2 md:space-y-0 md:space-x-4 ] [ p-4 ] [ order-1 md:order-3 ]"
            aria-label="Footer | Right"
            id="right-nav-footer"
            role="contentinfo"
            title="Right Grid Cell | FAQ, Help & Docs | 1,3 Landscape | 3,1 Portrait">
            <div
                class=""
                title="FAQ">
                <a
                    href=""
                    title="FAQ"
                >FAQ</a
                >
            </div>

            <div
                class=""
                title="Help">
                <a
                    href=""
                    title="Help"
                >Help</a
                >
            </div>

            <div
                class=""
                title="Docs">
                <a
                    href=""
                    title="Docs"
                >Docs</a
                >
            </div>
        </div>
    </nav>
    <!-- Extract-End: Include -->
</footer>
