<!-- ============================= CONTENT: MID : APP CARDS ==================================  -->
<!-- ============================= - TODO: Add {{ url "" }} x2 ===========================  -->
<article
    class="[ app-cta private ] [ hidden ] [ w-auto h-fit ] [ place-items-center ] [ m-8 ] [ gap-4 ] [ space-x-2 md:space-y-2 ] [ rounded-md shadow-lg ]"
    id="appcards-cards-cta-content"
    aria-description="App Cards | Outline of App Features"
    data-card="content"
    data-private="true"
    data-view="private"
    hidden="hidden"
    title="App Cards | Call to Action | Logged In | 1 x2 Grid | 2 Card Components">
    <!-- - TODO: Add Django Template -->
    <!-- - TODO: Add Django View -->
    <h2
        class="[ card-label ] [ hidden ] [ sr-only ]"
        id="private-cta-header"
        aria-description="ScreenReader | Banner | Calls to Action | Logged In | 1 x 2 Grid | 2 Card Components"
        data-view="private"
        hidden="until-found">
        Dash &amp; Do
    </h2>
    <!-- ============================= CONTENT: MID : APP CARDS ==================================  -->
    <div
        class="[ app-card ] [ flex flex-col flex-auto md:flex-row ] [ w-auto h-full ] [ place-items-center ] [ m-2 ] [ gap-8 ] [ rounded-md shadow-lg ]"
        id="cards-private-cta-section"
        title="Private | AppCards | CTA Component">
        <article
            class="[ app-card ] [ flex flex-col flex-auto ] [ w-auto md:w-1/2 h-full md:h-full ] [ place-items-center ] [ gap-4 ] [ bg-gray-100 ] [ shadow-lg ]"
            id="card-cta-dash"
            aria-description="Call to Action | Apps | Header"
            data-view="private"
            data-card="app"
            title="Dashboard Call to Action | Logged In | Call to Action | Card Component">
            <div
                class="[ card-row ] [ ]"
                id="dash-cardrow-header">
                <h3
                    class="[ card-tag ] [ ]"
                    id="app-card-heading"
                    aria-description="Dashboard Call to Action | Logged In | Call to Action | Card Component">
                    Dash & Inform
                </h3>
            </div>
            <div
                class="[ card-row ] [ ]"
                id="dash-cardrow-outline">
                <p
                    class="[ card-text ] [ mx-auto px-8 ]"
                    id="dash-card-outline"
                    aria-description="Dashboard Call to Action | Logged In | Call to Action | Card Component">
                    This is the dashboard for the Dash and Do for GitHub. This is a dashboard and to-do list manager for
                    GitHub. It is designed to help developers manage their GitHub projects as portfolios.
                </p>
            </div>
            <div
                class="[ card-row ] [ ]"
                id="dash-cardrow-link">
                <a
                    class="[ card-app-link ] [ ]"
                    id="dash-card-link"
                    aria-description=" Call to Action | Logged In | Call to Action | Card Component"
                    href="dash.html">
                    View your GitHub Dashboard Status
                </a>
            </div>
        </article>
        <!-- ============================= CONTENT: MID : APP CARDS ==================================  -->
        <article
            class="[ app-card ] [ flex flex-col flex-auto ] [ w-auto md:w-1/2 h-full md:h-full ] [ place-items-center ] [ mx-2 ] [ gap-4 ] [ space-x-2 md:space-y-2 ] [ bg-gray-100 ] [ rounded-md shadow-lg ]"
            id="card-cta-do"
            aria-description="Do Call to Action | Logged In | Call to Action | Card Component | Inert | Disabled | Future"
            data-view="private"
            data-card="app"
            hidden="hidden"
            inert>
            <div
                class="[ card-tag roadmap ] [ ]"
                id="do-coming-soon-tag"
                aria-description="Card Tags | Comings Soon Label"
                data-view="private"
                hidden="until-found"
                inert>
                Comming Soon
            </div>
            <div
                class="[ card-row ] [ ]"
                id="do-cardrow-header">
                <h3
                    class="[ card-tag ] [ ]"
                    id="do-card-heading"
                    aria-description="Do Call to Action | Logged In | Call to Action | Card Component">
                    Do & Act (Disabled)
                </h3>
            </div>
            <div
                class="[ card-row ] [ ]"
                id="do-cardrow-outline">
                <p
                    class="[ card-text ] [ mx-auto px-8 ]"
                    id="do-card-outline"
                    aria-description="Do & Action Outline">
                    This is the do for the Dash and Do for GitHub. This is a dashboard and to-do list manager for
                    GitHub. It is designed to help developers manage their GitHub projects as portfolios.
                </p>
            </div>
            <div
                class="[ card-row ] [ ]"
                id="do-cardrow-link">
                <a
                    class="[ card-app-link ] [ ]"
                    id="do-card-link"
                    aria-description="Do & Act Link"
                    href="do.html">
                    Check your GitHub Tasks Status
                </a>
            </div>
        </article>
    </div>
</article>
