<!-- Extract-Start: Include -->
<!-- Template: Include: All Pages -->
<!-- TODO: Add Django Template-->
<!-- includes\footer.html -->
<nav
    aria-label="Footer | Bottom Navigation | All Pages"
    class="footer-wrapper"
    id="container-grid-footer"
    title="Container | Grid | Footer">
    <!-- Middle Grid: 1,1 Landscape | 1,1 Portrait -->
    <div
        aria-label="Footer | Left"
        class=""
        id="left-grid-footer"
        role="contentinfo"
        title="Left Grid Cell | Contact About | 1,1 Landscape | 1,1 Portrait">
        <!-- Flexbox: 1,1 Landscape | 1,1 Portrait -->
        <div class="" title="Contact">
            <!-- TODO: Add Email-->
            <a href="tel:+353851234567" title="Contact | Mobile"> +353851234567 </a>
            <!-- TODO: Add Email-->
            <a href="mailto:email@example.com?subject=%5BDash%20%26%20Do%5D%20Web%20Enquiry" title="Contact | Email">
                email@example.com
            </a>
        </div>
        <div class="" title="Credits">
            <!-- Flexbox: 1,2 Landscape | 2,1 Portrait -->
            <!-- TODO: Add Link | Add Page-->
            <a href="" title="Credits | Link">Credits</a>
        </div>
        <div class="" title="Copyright">
            <!-- Flexbox: 1,3 Landscape | 3,1 Portrait -->
            <p title="Copyright | Text">© 2023-2028</p>
        </div>
    </div>
    <!-- Middle Grid: 1,2 Landscape | 2,1 Portrait -->
    <div
        aria-label="Footer | Middle"
        class=""
        id="middle-grid-footer"
        role="contentinfo"
        title="Middle Grid Cell | Icons | 1,2 Landscape | 2,1 Portrait">
        <!-- Flexbox: 1,1 Landscape | 1,1 Portrait -->
        <div class="" title="GitHub">
            <!-- TODO: Add Link | Add Page-->
            <a href="" title="GitHub | Link to Repo">
                <img alt="GitHub" src="" title="GitHub | Icon | Logo | Add Copyright" />
            </a>
        </div>
    </div>
    <!-- Middle Grid: 1,3 | 3,1 Portrait -->
    <div
        aria-label="Footer | Right"
        class=""
        id="right-grid-footer"
        role="contentinfo"
        title="Right Grid Cell | FAQ, Help & Docs | 1,3 Landscape | 3,1 Portrait">
        <!-- Flexbox: 1,1 Landscape | 1,1 Portrait -->
        <div class="" title="FAQ">
            <!-- TODO: Add Link | Add Page-->
            <a href="" title="FAQ">FAQ</a>
        </div>
        <!-- Flexbox: 1,2 Landscape | 2,1 Portrait -->
        <div class="" title="Help">
            <!-- TODO: Add Link | Add Page-->
            <a href="" title="Help">Help</a>
        </div>
        <!-- Flexbox: 1,3 Landscape | 3,1 Portrait -->
        <div class="" title="Docs">
            <!-- TODO: Add Link | Add Page-->
            <a href="" title="Docs">Docs</a>
        </div>
    </div>
</nav>
<!-- Extract-End: Include -->
