<!-- @formatter:off -->
<!-- ============================= DJANGO TEMPLATE & INCLUDE ================================  -->
<!-- ============================= CHANGELOG: - checked ✅ 23-09-18 =========================  -->
<!-- ============================= EXTENDS:  - added ✅ ./all/header.html ===================  -->
<!-- ============================= BLOCK:  - added ✅ public.html ===========================  -->
<!-- ============================= AUTH:  - added ✅ PAGE: Menu variables ===================  -->
<!-- ============================= AUTH:  - added ✅ ANON USER: If not logged in ============  -->
<!-- ============================= BLOCK:  - added ✅ form_login.html =======================  -->
<!-- ============================= PLANS:  - TODO ✅ MESSAGES: If logged in =================  -->
{% block menu_public %}

<!-- ================================== PUBLIC MENU ==========================================  -->

<ul
    class="[ public-menu-nav-right ] [ block ] [ py-3 md:py-0 ] [ flex place-items-center ] [ space-y-1 md:space-y-0 md:space-x-4 ]"
    id="public-header-nav-right"
    aria-describedby="Public Navigation"
    aria-label="Public Navigation, Unauthenticated Users"
    data-main-menu="public"
    data-mobile-show="true"
    data-public="true"
    data-private="false"
    data-view="public"
    role="menubar">
    <!-- ========================= PUBLIC MENU ITEMS =========================================  -->

    <li
        class="[ public-menu-item ] [ block ] [ mt-[-2px] md:mb-0 ] [ px-3 py-2 ] [ rounded-md ]"
        id="public-menu-item-home"
        aria-label="Home | Dash and Do for GitHub manager | Public Menu, Global Navigation"
        data-main-menu-item="public"
        data-menu="top-bar"
        data-mobile-show="true"
        data-view="public"
        role="menuitem">
        <!-- ===================== PUBLIC MENU LINKS =========================================  -->

        <a
            class="[ main-menu-link] [ font-medium text-gray-300 text-base hover:text-white ]"
            aria-label="Home Link"
            data-view="public"
            href="{% url 'kore:index' %}"
            id="home-public-menuitem"
            role="menuitem"
            title="{{ page.Index.ATITLE }}">
            {{ page.Index.ATEXT }}
        </a>
    </li>
    <li
        class="[ public-menu-item ] [ block ] [ mt-[-2px] md:mb-0 ] [ px-3 py-2 ] [ rounded-md ]"
        id="public-menu-item-about"
        aria-label="About | Dash and Do for GitHub manager | Public Menu, Global Navigation"
        data-main-menu-item="public"
        data-menu="top-bar"
        data-mobile-show="true"
        data-view="public"
        role="menuitem">
        <a
            class="[ main-menu-link] [ font-medium text-gray-300 text-base hover:text-white ]"
            aria-label="About Link"
            data-view="public"
            href="about.html"
            id="about-public-menuitem"
            role="menuitem"
            title="{{ page.About.ATITLE }}">
            {{ page.About.ATEXT }}
        </a>
    </li>
    <li
        class="[ public-menu-item ] [ block ] [ mt-[-2px] md:mb-0 ] [ px-3 py-2 ] [ rounded-md ]"
        id="public-menu-item-contact"
        aria-label="Contact | Jump to Contact Form | Public Menu, Global Navigation"
        data-main-menu-item="public"
        data-main-menu-submenu="public"
        data-menu="top-bar"
        data-mobile-show="true"
        data-view="public"
        role="menuitem">
        <a
            class="[ main-menu-link] [ font-medium text-gray-300 text-base hover:text-white ]"
            aria-label="Contact JumpTo Link"
            href="{% url "kore:index" %}#contact-form-jump-link"
            id="contact-public-menuitem"
            role="menuitem"
            title="{{ page.Contact.ATITLE }}">
            {{ page.Contact.ATEXT }}
        </a>
    </li>
    <!-- ========================= PUBLIC DROP MENU =========================================  -->

    <li
        class="[ public-menu-item dropdown ] [ hidden md:block ] [ relative ] [ z-20 ] [ mt-[-2px] md:mb-0 ] [ px-3 py-2 ] [ rounded-md ] [ focus-within:dropdown-visible ]"
        id="public-menu-item-login"
        aria-label="Login Menu | Access App & Account | Not for mobile | Only Tablet & Desktop | Public Menu, Global Navigation"
        data-main-menu-item="public"
        data-menu="top-bar"
        data-mobile-show="false"
        data-view="public"
        role="menuitem">
        <button
            class="[ main-menu-btn ] [ z-30 ] [ font-medium text-gray-300 text-base hover:text-white ] [ cursor-pointer ]"
            id="public-dropdown-menu-login"
            data-view="public"
            onclick="document.getElementById('dropdown-card-login').classList.toggle('hidden');"
            onKeyDown="document.getElementById('dropdown-card-login').classList.toggle('hidden');"
            type="button"
            title="Login Menu">
            Login
        </button>
        <!-- ===================== PUBLIC DROPDOWN CARD BLOCK ===============================  -->

        <div
            class="[ dropdown-menu dropdown-visible ] [ hidden ] [ absolute right-[-22.5px] ] [ z-10 ] [ w-56 ] [ mt-2 p-4 ] [ bg-white ] [ rounded-md ] [ shadow-xl ] [ focus:dropdown-visible hover:dropdown-visible active:dropdown-visible ]"
            id="dropdown-card-login"
            aria-description="Login Dropdown Menu & Card"
            data-menu="dropdown"
            data-view="public">
            <!-- ===================== PUBLIC DROPDOWN LOGIN FORM ===========================  -->

            {% if not request.user.is_authenticated %}
{#                {% include "forms/form_login.html" %}#}
            <!-- ===================== DISPLAY MESSAGE WHEN LOGGED IN ===================  -->
            {% else %}
            <!-- ===================== PRE-CONDITION: EARLIER IF CHECKS FOR AUTH =================  -->
            <!--
{#                {% if messages %}#}
{#                    <ul class="messages">#}
{#                        {% for message in messages %}#}
{#                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                {% endif %}#}
-->
            {% endif %}
            <!-- ===================== DISPLAY MESSAGE WHEN LOGGED IN ===================  -->
            <!-- ===================== PUBLIC DROPDOWN LOGIN FORM ===========================  -->
        </div>
    </li>
</ul>
{% endblock menu_public %}
