<!-- @formatter:off -->
<!-- ============================= CONTENT: PUBLIC: MID : APP CARDS ========================  -->
<!-- ============================= CHANGELOG: - checked ✅ 23-09-18 ========================  -->
<!-- ============================= EXTENDS:  - added ✅ form_signup.html ===================  -->
<!-- ============================= PLANS:  - added ✅ MESSAGES: If logged in ===============  -->
<article
    class="[ app-card ] [ flex flex-col lg:flex-row ] [ w-[90%] h-fit ] [ place-items-center ] [ mx-auto my-8 px-2 py-4 ] [ gap-4 ] [ space-x-2 md:space-y-2 ] | [ bg-gray-300 ] [ rounded-md shadow-lg ]"
    aria-description="CTA Register New Account, by Sign Up form"
    aria-label="Sign Up Form User Registration"
    data-card="form-cta"
    data-view="public"
    id="signup-form-cta-content">
    <h2
        class="[ card-label ] [ hidden ] [ sr-only ]"
        id="signup-form-cta-header"
        aria-description="Form label - Sign Up"
        aria-hidden="false"
        aria-label="Apps CTA | Header"
        data-view="public">
        Sign Up
    </h2>
    <!-- ========================= CONTENT: MID 1st Col/Ro: FORM PROMO: CARDS ==============  -->
    <div
        class="[ form-card ] [ flex flex-col flex-auto ] [ w-[90%] h-full md:h-full ] [ place-items-center ] [ mx-auto my-2 px-2 py-8 ] [ gap-8 ] [ space-x-2 md:space-y-2 ] | [ bg-gray-600 ] | [ rounded-md shadow-lg ]"
        id="signup-cta-card-content"
        aria-description="Sign Up CTA | Card | Inner"
        data-view="public">
{#         <article#}
{#            class="[ app-card ] [ flex flex-col flex-auto ] [ w-[90%] h-full md:h-full ] ] [ place-items-center ] [ mx-2 p-8 ] [ gap-4 ] [ space-x-2 md:space-y-2 ] | [ bg-gray-300 ] [ text-slate-800 ] | [ rounded-md shadow-lg ]"#}
{#            id="card-cta-signup"#}
{#            aria-description="Call to Action | Sign Up | Header"#}
{#            data-view="public"#}
{#            data-card="signup">#}
{#            <div#}
{#                class="[ card-tag roadmap ] [ ]"#}
{#                id="signup-promo-tag"#}
{#                aria-description="Card Tags | Promo"#}
{#                data-view="public"#}
{#                hidden="until-found"#}
{#                inert>#}
{#                New#}
{#            </div>#}
{#            <div#}
{#                class="[ card-row ] [ light:text-slate-800 ]"#}
{#                id="signup-cardrow-header">#}
{#                <h3#}
{#                    class="[ card-tag ] [ ]"#}
{#                    id="signup-card-heading"#}
{#                    aria-description="Sign Up Form | Call to Action | Card Component">#}
{#                    Sign Up: Dash & Do; Github Manager#}
{#                </h3>#}
{#            </div>#}
{#            <div#}
{#                class="[ card-row ] [ ]"#}
{#                id="sign-cardrow-outline">#}
{#                <p#}
{#                    class="[ card-text ] [ mx-auto px-8 ] [ text-slate-800 ]"#}
{#                    id="signup-card-features"#}
{#                    aria-description="Sign Up Features">#}
{#                    Key Features.#}
{#                </p>#}
{#            </div>#}
{#            <div#}
{#                class="[ card-row ] [ ]"#}
{#                id="signup-cardrow-list">#}
{#                <ul#}
{#                    class="[ ] [ ]"#}
{#                    id="signup-feature-list">#}
{#                    <li>Create account</li>#}
{#                    <li>Link your Github</li>#}
{#                    <li>Inspect your Dashboard</li>#}
{#                </ul>#}
{#            </div>#}
{#        </article>#}
        {% if not request.user.is_authenticated %}
                {% include 'users/account/login.html' %}
        <!-- ===================== PUBLIC CARD SIGNUP FORM ===================================  -->
        {% endif %}
    </div>
    <!-- ========================= CONTENT: MID 2nd Col/Ro : FORM SIGNUP | HTMX =================
     -->
    <!-- 1️⃣ HTMX Target: Start: OuterHTML | Relace: Form | Have to reload form redirect after submit -->
    <div
        class="[ form-card ] [ flex flex-col flex-auto ] [ w-[90%] h-full ] [ place-items-center ] [ mx-auto my-8 px-2 py-4 ] [ gap-8 ] [ space-2 ] | [ bg-gray-600 ] | [ rounded-md shadow-lg ]"
        id="signup-form-card-content"
        aria-description="Sign Up Form | Card | Inner"
        data-view="public">
        <!-- ===================== PUBLIC CARD SIGNUP FORM ===================================  -->
        {% if not request.user.is_authenticated %}
                {% include 'users/account/signup.html' %}
        <!-- ===================== PUBLIC CARD SIGNUP FORM ===================================  -->
        {% else %}
        <!-- ===================== DISPLAY MESSAGE IF EVER THIS IS REACHED ===================  -->
        <!-- ===================== PRE-CONDITION: EARLIER IF CHECKS FOR AUTH =================  -->
        <!--
{#                {% if messages %}#}
{#                    <ul class="messages">#}
{#                        {% for message in messages %}#}
{#                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                {% endif %}#}
-->
        {% endif %}
        <!-- End Form | Sign Up, Public -->
    </div>
</article>

<!-- ======================= CONTENT: PUBLIC: MID 1st Col/Ro: FORM  ==================  -->
