

{% load i18n %}
{#{% load account socialaccount %}#}

{#{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}#}

{% block form_login %}

    {#<h1>{% trans "Sign In" %}</h1>#}

    {#{% get_providers as socialaccount_providers %}#}

    {#{% if socialaccount_providers %}#}
    {#<p>{% blocktrans with site.name as site_name %}Please sign in with one#}
    {#of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>#}
    {#for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>#}

    {#<div class="socialaccount_ballot">#}
    {##}
    {#  <ul class="socialaccount_providers">#}
    {#    {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
    {#  </ul>#}
    {##}
    {#  <div class="login-or">{% trans 'or' %}</div>#}
    {##}
    {#</div>#}

    {#{% include "socialaccount/snippets/login_extra.html" %}#}

    {#{% else %}#}
    {#<p>{% blocktrans %}If you have not created an account yet, then please#}
    {#<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>#}
    {#{% endif %}#}
    {% if login_form %}
        <form
            class="[ form-login ]"
            action="{% url 'users:account_login' %}"
            data-form="login"
            data-view="public"
            id="login-form"
            method="post"
            name="login-form"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-post="{% url 'users:account_login' %}"
            hx-trigger="submit"
            hx-swap="outerHTML">
            {% csrf_token %}
            {% with loginerr=login_form.non_field_errors %}
                {% if loginerr %}
                    {% for formerror in loginerr %}
                        {{ formerror.errors }}
                        {{ formerror }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- ======================= PUBLIC LOGIN FIELDS' 1 COLUMN ===================  -->
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <input type="hidden" name="next" value="{{ login_form.prefix }}" />
            <fieldset
                class="[ form-card ] [ w-full h-full ] [ p-4 border ] [ bg-gray-100 ] [ rounded-lg ]"
                data-menu="card"
                data-view="public"
                form="login-form"
                id="fields-login-form"
                name="login-form">
                <legend
                    class="[ form-card-label ] [ sr-only ]"
                    aria-description="Login Form Card | Username | Password | Remember-me Checkbox | Login button"
                    hidden="until-found"
                    id="label-login-form">
                    Login Form
                </legend>
                <!-- ========================= PUBLIC LOGIN ROW========================= -->
                <div
                    class="[ formrow ] [ relative ] [ my-4 ]"
                    aria-description="Login Menu Item: Username"
                    data-view="public"
                    id="login-user-row">

                    <input
                        class="[ input-field peer ] [ w-full h-10 ] [ mb-4 ] [ border p-2 ] [ rounded-md ] [ text-start gray-900 ] [ placeholder-transparent ] | [ valid:bg-green-100 invalid:bg-red-100 :invalid:bg-white-100 ] [ focus:outline-none focus:border-rose-600 ] [ focus:not(:placeholder-shown) ]"
                        id="login-username"
                        aria-description="Enter Username: Input Length: min: 6, max: 30"
                        autocomplete="username"
                        data-view="public"
                        maxlength="30"
                        minlength="6"
                        name="username"
                        placeholder="Username"
                        required
                        tabindex="2"
                        title="Enter a valid Username"
                        type="text" />
                    <label
                        class="[ input-label ] [ w-full ] [ absolute -top-[5] left-1 ] [ text-start text-gray-500 ] | [ peer-placeholder-shown:text-base ] [ peer-placeholder-shown:text-gray-400 ] [ peer-placeholder-shown:top-2 ] | [ peer-focus:-top-4 peer-focus:text-gray-600 peer-focus:text-sm ] [ transition-all duration-300 ease-in-out ]"
                        id="login-username-tag"
                        aria-description="Enter account username"
                        aria-labelledby="login-username"
                        data-view="public"
                        for="login-username">
                        Username
                    </label>
                    {% if login_form.email.errors %}
                        {% for error in login_form.email.errors %}
                            <span class="[ input-message ] [ text-red-600 text-xs ]"
                                  data-status="invalid"
                                  data-view="public"
                                  id="invalid-signupmatch-msg">
                            {{ error }}
                        </span>
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- ========================= PUBLIC LOGIN ROW========================= -->
                <div
                    class="[ form-group ] [ relative ] [ my-4 ]"
                    data-view="public"
                    id="login-pass-row">
                    <!-- TODO:  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&]).{12,}" -->
                    <!-- TODO:  pattern="/^[a-zA-Z0-9@#$%^&*]{8,}$/" -->
                    <input
                        class="[ input-field peer ] [ w-full h-10 ] [ mb-4 ] [ border p-2 ] [ rounded-md ] [ text-start gray-900 ] [ placeholder-transparent ] | [ valid:bg-green-100 invalid:bg-red-100 :invalid:bg-white-100 ] [ focus:outline-none focus:border-rose-600 ] [ focus:not(:placeholder-shown) ]"
                        id="login-password"
                        aria-description="Passwords using a-zA-Z0-9 and sumbols"
                        aria-label="Enter a password"
                        autocomplete="current-password"
                        data-view="public"
                        name="password"
                        placeholder="Password"
                        required
                        title="Enter a valid Password"
                        type="password" />
                    <label
                        class="[ input-label ] [ w-full ] [ absolute -top-[5] left-1 ] [ text-start text-gray-500 ] | [ peer-placeholder-shown:text-base ] [ peer-placeholder-shown:text-gray-400 ] [ peer-placeholder-shown:top-2 ] | [ peer-focus:-top-4 peer-focus:text-gray-600 peer-focus:text-sm ] [ transition-all duration-300 ease-in-out ]"
                        id="login-password-tag"
                        aria-labelledby="login-password"
                        aria-description="Enter account password"
                        data-view="public"
                        for="login-password">
                        Password
                    </label>
                    {% if login_form.email.errors %}
                        {% for error in login_form.enterpassword.errors %}
                            <span class="[ input-message ] [ text-red-600 text-xs ]"
                                  data-status="invalid"
                                  data-view="public"
                                  id="invalid-signupmatch-msg">
                            {{ error }}
                        </span>
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- ========================= PUBLIC LOGIN BUTTON ======================== -->
                <div
                    class="[ form-group ] [ flex flex-row ] [ justify-between items-center ] [ my-2 ]"
                    aria-description="Login Menu Item: Checkbox and Button"
                    data-view="public"
                    id="login-btn-row">
                    <!-- ========================= REMEMBER ME CHECKBOX ======================== -->
                    <div
                        class="[ flex flex-col ] [ items-center ]"
                        id="login-row-checkbox">
                        <input
                            class="[ input-field form-checkbox ] [ m-1 ] [ h-5 w-5 ] [ rounded-md ] [ text-blue-600 ] [ focus:ring-blue-500 ]"
                            aria-description="Remember login for next visit"
                            aria-label="Remember me checkbox"
                            id="remember-me"
                            name="remember-me"
                            value="remember"
                            type="checkbox" />
                        <label
                            class="[ text-sm text-gray-500 ]"
                            aria-labelledby="remember-me"
                            aria-description="Checkbox to remember login details"
                            for="remember-me">
                            Remember
                        </label>
                    </div>
                    <!-- ========================= PUBLIC LOGIN BUTTON ======================== -->
                    <div class="[ flex ] [ items-end ]">
                        <input
                            class="[ input-field peer ] [ block w-full ] [ mb-4 ] [ p-2 ] [ border rounded-md outline-none ] [ font-medium text-base text-gray-500 ] | [ focus:ring-blue-500 focus:border-blue-500 ]"
                            aria-description="Submit form to login and access account"
                            data-view="public"
                            type="submit"
                            value="Login" />
                    </div>
                </div>
                <!-- ========================= PUBLIC LOGIN ROW========================= -->
                <!-- ========================= FORGET PAGASSWORD: LINK ================= -->
                <!-- ========================= FORGET PAGASSWORD: Reset.html =========== -->
            </fieldset>
        </form>
    {% else %}
        {# This message should never display. #}
        <p> There has been an error. Contact the Site Adminiistrator</p>
    {% endif %}
{% endblock form_login %}
