<!-- Template: Contact Form | Card Component -->
<!-- TODO: Add Django Template
     TODO: Add Django Form
     TODO: Add Form HTMX
      - https://www.perplexity.ai/search/547f1abd-102f-44c6-b2bc-d0b365ee4f4b?s=c
     TODO: Add Form Card Component (Tailwind CSS): Class or Style
-->
<div class="" id="card-contact-form" style="." title="Contact Form | Card">
    <h3 class="" id="card-contact-header" style="." title="Contact Form">Contact</h3>
    <div id="target-contact-form" title="contact-form">
        <form
            action=""
            class=""
            hx-post="/submit-contact-form"
            hx-swap="outerHTML"
            hx-target="#target-contact-form"
            id="contact-form"
            method="POST"
            style="."
            title="Contact Form">
            <fieldset
                class=""
                name="contact-form-details"
                title="Contact Form | Fields | Left Column | Flexbox 1,1/1,1">
                <legend aria-hidden="true" hidden="hidden" title="Contact Forms | Contact Inputs">
                    Enter your contact details ..
                </legend>
                <label class="" for="contact-name" title="Contact Form | Name">Name</label>
                <input class="" id="contact-name" title="Contact Form | Name" type="text" />
                <label class="" for="contact-email" title="Contact Form | Email">Email</label>
                <input class="" id="contact-email" title="Contact Form | Email" type="email" />
            </fieldset>
            <fieldset
                class=""
                name="contact-form-message"
                title="Contact Form | Contact Messages Box | Right Column | Flexbox 1,2/2,1">
                <legend aria-hidden="true" hidden="hidden" title="Contact Forms | Message Body">
                    Enter your message ..
                </legend>
                <label class="" for="contact-message" title="Contact Form | Message">Message</label>
                <textarea class="" id="contact-message" title="Contact Form | Message"></textarea>
                <button class="" id="contact-submit" title="Contact Form | Submit">Submit</button>
            </fieldset>
        </form>
    </div>
</div>
