{% load static %}
<!doctype html>
<html lang="en-GB">
    <head title="Welcome to the Dash and Do for GitHub">
        <meta charset="utf-8" />
        <meta name="origin" content="https://dash-and-do-heroku.com/" />
        <meta name="copyright" content="The Dash and Document GitHub is the copyright of Charles J Fowler, 2023-2028" />
        <meta name="author" content="Charles J Fowler, @iPoetDev.github.com" />
        <meta name="creator" content="Charles J Fowler, @iPoetDev.github.com" />
        <meta name="designer" content="Charles J Fowler, @iPoetDev.github.com" />
        <meta name="contact" content="Github: @iPoetDev" />
        <meta name="geo.lmk" content="Dublin, Ireland; Europe" />
        <meta name="geo.country" content="Ireland" />
        <meta name="version" content="Version 1.0-beta" />
        <meta name="color-scheme" content="dark" />
        <meta
            name="keywords"
            content="Fowler,Charles,Clients,Designer,Web Designer,Developer,Software, Web
                Developer,Frontend Developer,Code Institute,HTML,CSS,Modern CSS" />
        <meta name="description" content="Welcome to the Dash and Do for GitHub" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link type="text/css" href="" rel="stylesheet" />
        <link type="text/css" href="" rel="stylesheet" />
        <script src="https://unpkg.com/htmx.org@1.9.4"></script>
        <title title="{% block title %}Dashboard and Do GitHub Manager{% endblock %}">
            {% block title %}Dashboard and Do GitHub Manager{% endblock %}
        </title>
    </head>
    <body class="">
        <script src="/static/js/htmx.min.js"></script>
    </body>
</html>
