<!-- form_signup_success.html -->
<!-- TODO: Add Form HTMX
      - https://www.perplexity.ai/search/547f1abd-102f-44c6-b2bc-d0b365ee4f4b?s=c
     Note: Targted DIV#signup-form-public-contains
     Note: Type: Django Message / Success
     Note: This is a sibling of form_signup_error.html for Success messages States
-->
<div class="message message-success" id="success-signup-form" title="Sign-Up Form Success">
    <h3 id="success-login-header" title="Sign-Up Form Success">Form Success!</h3>
    <p>You have signed up. Thank you!</p>
    <p>Check your email for further instructions to verify.</p>
    <p>Then you can login.</p>
</div>
