<!-- ============================== PUBLIC LOGIN FORM ============================ -->
<!-- Extract-Start -->
<ul
    aria-label="Login Navigation Dropdown Menu | Form Component"
    class=""
    data-main-menu-item="public"
    data-main-menu-submenu="public"
    data-skip-link-target="true"
    id="login-dropdown-menu"
    title="Account | Card Components | Hidden | Dropdown Menu">
    <li id="login-dropdown-card">
        <a href="" id="login-dropdown-link" title="Account | Link">Account</a>
        <ul
            data-main-menu-submenu="public"
            hidden="hidden"
            id="login-dropdown-menu-form"
            title="Account | Card Components | Hidden | Dropdown Menu">
            <li data-main-menu-submenu-item="public" id="login-dropdown-menu-wrapper">
                <form action="" class="" id="login-form" method="post">
                    <!-- User Email or Username or One or more both-->
                    <label for="login-username" title="Account | Form | Username"
                    >Username
                    </label>
                    <input
                        autocomplete="username"
                        id="login-username"
                        name="login-username"
                        tabindex="2"
                        title="Account | Form | Username"
                        type="text" />
                    <label for="login-email" title="Account | Form | Username"
                    >Username
                    </label>
                    <input
                        autocomplete="email"
                        id="login-email"
                        tabindex="2"
                        title="Account | Form | Username"
                        type="text" />
                    <label for="login-password" title="Account | Form | Password"
                    >Password
                    </label>
                    <!-- Note: MDN Article: How to turn off form autocompletion -->
                    <input
                        autocomplete="current-password"
                        id="login-password"
                        title="Account | Form | Password"
                        type="password" />
                    <button title="Account | Form | Submit" type="submit">Submit</button>
                </form>
            </li>
        </ul>
    </li>
</ul>
<!-- Extract-End -->
