<!-- form_login_success.html
     TODO: Add Form HTMX
      - https://www.perplexity.ai/search/547f1abd-102f-44c6-b2bc-d0b365ee4f4b?s=c
     Note: Targted DIV#account-navigation-menu-item
     Note: Type: Django Message / Success
     Note: This is a sibling of form_login_success.html for Error States
-->
<div class="message message-success" id="success-login-form" title="Login Form Success">
    <h3 id="success-login-header" title="Login Form Success">Form Success!</h3>
    <p>You have logged in</p>
</div>
