<!-- form_signup_error.html -->
<!-- TODO: Add Form HTMX
      - https://www.perplexity.ai/search/547f1abd-102f-44c6-b2bc-d0b365ee4f4b?s=c
     Note: Targted DIV#signup-form-public-contains
     Note: Type: Django Message / Error
     Note: This is a sibling of form_signup_success.html for Error message States
-->
<div class="message message-error" id="error-signup-form" title="Sign Up Form Error">
    <h3 id="error-sign-header" title="Sign-Up Form Error">Form Error!</h3>
    <p>Please try again.</p>
    <a href="/" hx-get="#signup-form-public-contains" title="Sign Up Form | Link | Redirect to Home Page"
        >Reload the Sign Up Form</a
    >
</div>
