<!-- form_signup.html -->
<!-- Template: Sign Up Form | Card Component -->
<div
    class=""
    data-public="true"
    data-signup="public"
    hidden="none"
    id="public-cta-middle-section"
    title="Account Call to Action | Signed Up | Forms">
    <h1 hidden="true" aria-label="Sign Up Form Section: Public Users">
        New User Register: Sign Up Form</h1>
    <div class="" id="signup-form-public-cta" title="Form | Sign Up | CTA">
        <!-- Card is centralised | Top Down | Flows vertically | -->
        <article class=""
                 id="signup-form-public-card"
                 title="Form | Sign Up | Card">
            <h3 class=""
                id="signup-form-public-header"
                title="Form | Sign Up | Header">Sign Up</h3>
            <form action="" class="" id="signup-form" method="POST" title="Account Form">
                <fieldset form="signup-form" name="signup-form">
                    <legend
                        aria-hidden="true"
                        class=""
                        hidden="hidden"
                        id="signup-form-label"
                        title="Sign Up Forms | Account App">
                        Sign Up
                    </legend>
                    <!-- TODO: Add validation to this form, placeholder text -->
                    TODO: CSS: Label | Input block elements | Label above input -->
                    <div>
                        <label class=""
                               for="signup-user"
                               title="Account Form | Name">Username</label>
                        <input
                            class=""
                            id="signup-user"
                            maxlength="20"
                            minlength="6"
                            required="required"
                            size="30"
                            title="Account Form | Name"
                            type="text" />
                    </div>
                    <div>
                        <label class=""
                               for="signup-email"
                               title="Account Form | Email">Email</label>
                        <input
                            class=""
                            id="signup-email"
                            maxlength="50"
                            minlength="6"
                            required="required"
                            size="30"
                            title="Account Form | Email"
                            type="email" />
                    </div>
                    <div>
                        <label class=""
                               for="password"
                               title="Account Form | Password">Password</label>
                        <input
                            class=""
                            id="password"
                            maxlength="50"
                            minlength="15"
                            required="required"
                            size="30"
                            title="Account Form | Password"
                            type="password" />
                        <input
                            class=""
                            required="required"
                            size="30"
                            title="Account Form | Confirm Password"
                            type="password" />
                    </div>
                    <div>
                        <button class=""
                                title="Sign Up | Account App | Submit"
                                value="Sign_Up" >Sign Up</button>
                    </div>
                </fieldset>
            </form>
        </article>
    </div>
</div>
