<!-- Extract Start -->
<!-- ================================== SNIPPET | LOGOUT ========================================= -->
<!-- Template: PARTIAL : Conditionals | Private | Checked if -->
<!-- a) user is authenticated |-->
<!-- b) only logged user has permission to view | -->
<!-- c) user has active session -->
<!-- d) contact other users types are denied access to view | -->
<!-- Ends User Session | Changes ownership State: Logged in to Logged out -->
<li><a href="" title="Logout | Link">Logout</a></li>
<!-- Extract End -->
