<!-- ======================== PRIVATE | DROPDOWN | MENU | ACCOUNT ======================= -->
<!-- Extract Start -->
<ul
    class=""
    id="account-dropdown-menu"
    title="Account | Card Components | Hidden | Dropdown Menu">
    <li id="account-dropdown-card">
        <a href="" id="account-dropdown-link" title="Account | Link">Account</a>
        <ul
            hidden="hidden"
            id="account-dropdown-menu-items"
            title="Account | Card Components | Hidden | Dropdown Menu">
            <li><a href="" id="account-profile-link" title="Profile | Link">Profile</a></li>
            <li>
                <a href="" id="account-settings-link" title="Settings | Link">Settings</a>
            </li>
            <li><a href="" id="account-logout-link" title="Logout | Link">Logout</a></li>
        </ul>
    </li>
</ul>
<!-- Extract End -->
