<!-- =============== Main | Content | Account Cards | Private Only | With Sidebar ================ -->
<!-- Template: private_appcards.html | Logged Out | Without Sidebar  -->
<!-- - TODO: Exclude if user is not logged in, hide the section or if conditional -->
<!-- private_appcards.html -->
<div
    class=""
    data-appcards="private"
    data-private="true"
    hidden="hidden"
    id="private-cta-middle-component"
    title="App Cards | Call to Action | Logged In | 1 x2 Grid | 2 Card Components">
    <!-- - TODO: Add Django Template -->
    <!-- - TODO: Add Django View -->
    <!-- - TODO: Add Cards Component (Tailwind CSS): Class or Style -->
    <h1
        class=""
        hidden="hidden"
        id="private-cta-header"
        title="Calls to Action | Logged In | 1 x 2 Grid | 2 Card Components">
        Dash &amp; Do
    </h1>
    <!-- Component Block | 1 x 2 Grid -->
    <div class="" id="cards-private-cta-section" title="Private | AppCards | CTA Component">
        <!-- Repeating Block | Card Component | Same Structure/Style | Differnt Content -->
        <!-- Note: Not Programatically View Logic | Define only in Template -->
        <!-- Note: Should this be subclass templated for each repeating card/block? -->
        <article
            class=""
            id="card-cta-dash"
            title="Dashboard Call to Action | Logged In | Call to Action | Card Component">
            <h2 class="" title="Dashboard Call to Action | Logged In | Call to Action | Card Component">
                Dash & Inform
            </h2>
            <p class="" title="Dashboard Call to Action | Logged In | Call to Action | Card Component">
                This is the dashboard for the Dash and Do for GitHub. This is a dashboard and to-do list manager for
                GitHub. It is designed to help developers manage their GitHub projects as portfolios.
            </p>
            <a class="" href="" title="Dashboard Call to Action | Logged In | Call to Action | Card Component">
                Check your GitHub Account Status
            </a>
        </article>
        <article
            class=""
            id="card-cta-do"
            title="Do Call to Action | Logged In | Call to Action | Card Component | Inert | Disabled | Future">
            inert="inert">
            <h3 class="" title="Do Call to Action | Logged In | Call to Action | Card Component">
                Do & Act (Disabled)
            </h3>
            <p class="" title="Do Call to Action | Logged In | Call to Action | Card Component">
                This is the do for the Dash and Do for GitHub. This is a dashboard and to-do list manager for GitHub. It
                is designed to help developers manage their GitHub projects as portfolios.
            </p>
            <a class="" href="" title="Do Call to Action | Logged In | Call to Action | Card Component"></a>
        </article>
    </div>
</div>
