<!-- @formatter:off -->
<!-- ==============================  DJANGO TEMPLATE & INCLUDE ==============================  -->
{% load i18n %}
{% block form_signup %}
    {% if signup_form %}
        <!-- ==============================  HTMX FORM | SIGNUP ACCOUNT ==============================  -->
        <form
            class="[ form-signup ] [ w-[90%] h-full ] [ place-items-center ] [ mx-auto my-8 px-2 py-4 ] [ gap-8 ] [ space-2 ]"
            action="{% url 'users:account_signup' %}"
            data-form="signup"
            data-view="public"
            id="signup-form"
            method="post"
            name="signup-form"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-post="{% url 'users:account_signup' %}"
            hx-trigger="submit"
            hx-swap="outerHTML"
        >
            <!-- ===================== ✅ FORM CSRF TOKEN ===========================================  -->
            {% csrf_token %}
            <!-- ======================= PUBLIC SIGNUP HIDDEN FIELDS ================================  -->
{#            {% if redirect_field_value %}#}
{#                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />#}
{#            {% endif %}#}
                <!-- ======================= PUBLIC SIGNUP FIELDS' 1 COLUMN ==============================  -->
                <fieldset
                    class="[ form-card ] [ w-full h-full ] [ p-4 border ] [ bg-gray-100 ] [ rounded-lg ]"
                    data-menu="card"
                    data-view="public"
                    form="signup-form"
                    id="fields-signup-form"
                    name="signup-form">
                    <legend
                        class="[ form-card-label ] [ sr-only ]"
                        aria-description="Sign Up Form Card"
                        hidden="until-found"
                        id="label-signup-form">
                        Sign Up Form
                    </legend>
                    <!-- ============================== PUBLIC SIGNUP ROW ===============================  -->
                    <div
                        class="[ formrow ] [ relative ] [ w-full ] [ my-4 ]"
                        aria-description="Signup Menu Item"
                        data-view="public"
                        id="signup-bannerimg-row">
                        <img
                            class="[ card-image ] [ w-full h-1/3 ] [ object-cover object-center ] [ rounded-t-md ]"
                            alt="Signup Card Image"
                            data-view="public"
                            height=""
                            id=""
                            src=""
                            width="" />
                        <h2>Set up a New Account</h2>
                    </div>
                    <!-- ========================= PUBLIC SIGNUP ROW ========================= -->
                    <div
                        class="[ formrow ] [ relative ] [ w-full ] [ my-4 ]"
                        aria-description="Signup Menu Item: Email"
                        data-view="public"
                        id="signup-email-row">
                        {% for field in signup_form %}
                            {% if field.name == 'email' %}
                                <label
                                    class="[ input-label ] [ w-full ] [ text-start text-gray-500 ]"
                                    id="id_{{ field.name }}_tag"
                                    aria-labelledby="id_{{ field.name }}"
                                    aria-description="Enter account email"
                                    data-view="public"
                                    for="id_{{ field.name }}">
                                    {{ field.label }}
                                </label>
                                <input
                                    class="[ input-field ] [ w-full h-10 ] [ mb-4 ] [ border p-2 ] [ rounded-md ] [ text-start gray-900 ]"
                                    id="id_{{ field.name }}"
                                    aria-description="Enter Email: Input Length: min: 6, max: 30"
                                    autocomplete="{{ field.field.widget.attrs.autocomplete|default:'email' }}"
                                    data-view="public"
                                    maxlength="30"
                                    minlength="6"
                                    name="{{ field.name }}"
                                    placeholder="{{ field.label }}"
                                    {% if field.field.required %} required {% endif %}
                                    tabindex="5"
                                    title="{{ field.help_text }}"
                                    type="email"
                                    {% if field.value != None %} value="{{ field.value|escape }}" {% endif %} />
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <span
                                            class="[ input-message ] [ hidden ] [ text-red-600 text-xs ]"
                                            data-view="public"
                                        id="invalid-email-msg">
                                        Please enter a valid {{ field.label }}<br>
                                        {% if field.help_text %}
                                            <small class="[ form-text ] [ text-muted ]">{{ field.help_text }}</small>
                                        {% endif %}
                                    </span>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- ========================= PUBLIC SIGNUP ROW ========================= -->
                <div
                    class="[ formrow ] [ relative ] [ w-full ] [ my-4 ]"
                    aria-description="Signup Menu Item: Password"
                    data-view="public"
                    id="signup-password1-row">
                    {% for field in signup_form %}
                        {% if field.name == 'password1' %}
                            <label
                                class="[ input-label ] [ w-full ] [ text-start text-gray-500 ]"
                                id="id_{{ field.name }}-tag"
                                aria-labelledby="id_{{ field.name }}"
                                aria-description="Enter account password"
                                data-view="public"
                                for="id_{{ field.name }}">
                                {{ field.label }}
                            </label>
                            <input
                                class="[ input-field ] [ w-full h-10 ] [ mb-4 ] [ border p-2 ] [ rounded-md ] [ text-start gray-900 ]"
                                id="id_{{ field.name }}"
                                aria-description="Enter Password: min: 12, max: 50. Must Match"
                                autocomplete="{{ field.field.widget.attrs.autocomplete|default:'new-password' }}"
                                data-view="public"
                                maxlength="50"
                                minlength="12"
                                name="{{ field.name }}"
                                placeholder="{{ field.label }}"
                                {% if field.field.required %} required {% endif %}
                                tabindex="5"
                                title="{{ field.help_text }}"
                                type="password"
                                {% if field.value != None %} value="{{ field.value|escape }}" {% endif %} />
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span
                                        class="[ input-message ] [ text-red-600 text-xs ]"
                                        data-view="public"
                                        id="invalid-{{ field.name }}-msg">
                                        Please enter a valid {{ field.label }}<br>
                                        {% if field.help_text %}
                                            <small class="[ form-text ] [ text-muted ]">{{ field.help_text }}</small>
                                        {% endif %}
                                    </span>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- ============================== PUBLIC SIGNUP ROW ========================= -->
                <div
                    class="[ form-group ] [ relative ] [ w-full ] [ justify-items-start] [ my-4 ]"
                    data-view="public"
                    id="signup-confpass-row">
                    {% for field in signup_form %}
                        {% if field.name == 'password2' %}
                            <label
                                class="[ input-label ] [ w-full ] [ text-start text-gray-500 ]"
                                id="id_{{ field.name }}_tag"
                                aria-labelledby="id_{{ field.name }}"
                                aria-description="Confirm password: a-z, A-Z, 0-9 with @,$,!,%,*,?,&, min: 12, max: 50. Must match."
                                data-view="public"
                                for="id_{{ field.name }}">
                                {{ field.label }}
                            </label>
                            <input
                                class="[ input-field ] [ w-full h-10 ] [ mb-4 ] [ border p-2 ] [ rounded-md ] [ text-start gray-900 ]"
                                id="id_{{ field.name }}"
                                aria-description="Passwords min: 12, max: 50. Must match."
                                autocomplete="{{ field.field.widget.attrs.autocomplete|default:'new-password' }}"
                                data-view="public"
                                maxlength="50"
                                minlength="12"
                                name="{{ field.name }}"
                                placeholder="{{ field.label }}"
                                {% if field.field.required %} required {% endif %}
                                tabindex="6"
                                title="{{ field.help_text }}"
                                type="password"
                                {% if field.value != None %} value="{{ field.value|escape }}" {% endif %} />
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span
                                        class="[ input-message ] [ hidden ] [ text-red-600 text-xs ]"
                                        data-status="invalid"
                                        data-view="public"
                                        id="invalid-{{ field.name }}-msg">
                                        Please enter a valid {{ field.label }}<br>
                                        {% if field.help_text %}
                                            <small class="[ form-text ] [ text-muted ]">{{ field.help_text }}</small>
                                        {% endif %}
                                    </span>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- =============================== PUBLIC SIGNUP ROW ======================== -->
                <div
                    class="[ form-group ] [ flex flex-row ] [ w-full ] [ justify-between items-center ] [ my-2 ]"
                    data-view="public"
                    id="signup-btn-row">
                    <!-- =========================== PUBLIC SIGNUP BUTTON ===================== -->
                    <input
                        class="[ input-field peer ] [ block w-full ] [ mb-4 ] [ p-2 ] [ border rounded-md outline-none ] [ font-medium text-base text-gray-500 ] | [ focus:ring-blue-500 focus:border-blue-500 ]"
                        aria-description="Submit form to login and access account"
                        data-view="public"
                        type="submit"
                        value="Submit" />
                </div>
            </fieldset>
        </form>
    {% else %}
        This message should never display.
        <p> There has been an error. Contact the Site Adminiistrator</p>
    {% endif %}
    <!-- ========================= CONTENT: MID : FORM STATUS | HTMX TARGET ==================  -->
    <!-- 2️⃣HTMX Target: Start: beforeend | Keep Form & Clear Form -->
    <div
        class="[ status-card notification ] [ invisible opacity-0 ] [ mx-auto my-8 px-2 py-4 ] [ bg-grey-100 ] [ space-2 ]
        [ border-l-4 border-blue-500 ]"
        id="status-signup-notice"
        aria-description="Form Status"
        data-form="signup"
        data-message="status"
        data-view="public"
        hidden="hidden"
        inert
        title="Status">
        <h3
            class="[ status-label ] [ sr-only ] [ font-semibold ] [ text-md text-blue-800 ]"
            id="signup-status-label"
            aria-description="Status Message Banner"
            data-form="signup"
            data-status="message"
            hidden="until-found">
            Sign Up Status
        </h3>
        <p
            class="[ status-text ] [ my-2 ] [ font-semibold ] [ text-base text-blue-800 ]"
            id="signup-status-text"
            aria-description="Status Message:Confirm or Error"
            data-form="signup"
            data-status="message"
            data-view="public">
        </p>
        <!-- Message Success & Message Error -->
    </div>
{% endblock form_signup %}
<!-- ==============================  DJANGO TEMPLATE & INCLUDE ==============================  -->
