<!-- @formatter:off -->
<!-- ==============================  DJANGO TEMPLATE & INCLUDE ==============================  -->
{% load i18n %}
{% load account %}
{% block form_login %}
<!-- ===================== PUBLIC DROPDOWN LOGIN FORM ===========================  -->
    {% if login_form %}
        <form
            class="[ form-login ]"
            {# action="{% url 'users:account_login' %}"#}
            data-form="login"
            data-view="public"
            id="login-form"
            method="post"
            name="login-form"
            hx-headers='{"X-CSRFToken": "{{ csrf_token|escapejs }}"}'
            hx-post="{% url 'users:account_login' %}"
            hx-trigger="submit"
            hx-swap="outerHTML">
            {% csrf_token %}
            <!-- ======================= PUBLIC LOGIN FIELDS' 1 COLUMN ===================  -->
            <!-- ======================= PUBLIC LOGIN FIELDS' 1 COLUMN ===================  -->
            {#            {% if redirect_field_value %}#}
            {#                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />#}
            {#            {% endif %}#}
            <!-- ======================= PUBLIC LOGIN FIELDS' 1 COLUMN ===================  -->
            <fieldset
                class="[ form-card ] [ w-full h-full ] [ p-4 border ] [ bg-gray-100 ] [ rounded-lg ]"
                data-menu="card"
                data-view="public"
                form="login-form"
                id="fields-login-form"
                name="login-form">
                <legend
                    class="[ form-card-label ] [ sr-only ]"
                    aria-description="Login Form Card"
                    hidden="until-found"
                    id="label-login-form">
                    Login Form
                </legend>
                <!-- ========================= PUBLIC LOGIN ROW========================= -->
                <div
                    class="[ formrow ] [ relative ] [ my-4 ]"
                    aria-description="Login Menu Item: Email"
                    data-view="public"
                    id="login-user-row">
                    {% for field in login_form %}
                        {% if field.name == 'login' %}
                            <label
                                class="[ input-label ] [ w-full ] [ text-start text-gray-500 ]"
                                id="login-username-tag"
                                aria-description="Enter account username"
                                aria-labelledby="{{ field.name }}"
                                data-view="public"
                                for="id_{{ field.name }}">
                                {{ field.label }}
                            </label>
                            <input
                                class="[ input-field ] [ w-full h-10 ] [ mb-4 ] [ border p-2 ] [ rounded-md ] [ text-start gray-900 ]"
                                id="id_{{ field.name }}"
                                aria-description="Enter Username: Input Length: min: 6, max: 30"
                                autocomplete="{{ field.field.widget.attrs.autocomplete|default:'email' }}"
                                data-view="public"
                                maxlength="30"
                                minlength="6"
                                name="{{ field.name }}"
                                placeholder="{{ field.label }}"
                                {% if field.field.required %} required {% endif %}
                                tabindex="2"
                                title="{{ field.help_text }}"
                                type="text"
                                {% if field.value != None %} value="{{ field.value|escape }}" {% endif %} />
                            {% if field.errors %}
                                {% for error in field.errors %}
                                <span
                                    class="[ input-message ] [ hidden ] [ text-red-600 text-xs ]"
                                    data-view="public"
                                    id="invalid-email-msg">
                                    Please enter a valid {{ field.label }}<br>
                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                </span>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- ========================= PUBLIC LOGIN ROW========================= -->
                <div
                    class="[ formrow ] [ relative ] [ my-4 ]"
                    aria-description="Login Menu Item: Password"
                    data-view="public"
                    id="login-password-row">
                    {% for field in login_form %}
                        {% if field.name == 'password' %}
                            <label
                                class="[ input-label ] [ w-full ] [ text-start text-gray-500 ]"
                                id="login-password-tag"
                                aria-description="Enter account password"
                                aria-labelledby="{{ field.name }}"
                                data-view="public"
                                for="id_{{ field.name }}">
                                {{ field.label }}
                            </label>
                            <input
                                class="[ input-field ] [ w-full h-10 ] [ mb-4 ] [ border p-2 ] [ rounded-md ] [ text-start gray-900 ]"
                                id="id_{{ field.name }}"
                                aria-description="Enter Password: min: 12, max: 50"
                                autocomplete="{{ field.field.widget.attrs.autocomplete|default:'current-password' }}"
                                data-view="public"
                                maxlength="50"
                                minlength="12"
                                name="{{ field.name }}"
                                placeholder="{{ field.label }}"
                                {% if field.field.required %} required {% endif %}
                                tabindex="2"
                                title=""
                                type="password"
                                {% if field.value != None %} value="{{ field.value|escape }}" {% endif %} />
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span
                                        class="[ input-message ] [ text-red-600 text-xs ]"
                                        data-status="invalid"
                                        data-view="public"
                                        id="invalid-password-msg">
                                        Please enter a valid {{ field.label }}<br>
                                        {% if field.help_text %}
                                            <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %}
                                    </span>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- ========================= PUBLIC LOGIN BUTTON ======================== -->
                <div
                    class="[ form-group ] [ flex flex-row ] [ justify-between items-center ] [ my-2 ]"
                    aria-description="Login Menu Item: Checkbox and Button"
                    data-view="public"
                    id="login-btn-row">
                    <!-- ========================= REMEMBER ME CHECKBOX ======================== -->
                        <div
                            class="[ flex flex-col ] [ items-center ]"
                            id="login-row-checkbox">
                            {% for field in login_form %}
                                {% if field.name == 'remember' %}
                                    <input
                                        class="[ input-field form-checkbox ] [ m-1 ] [ h-5 w-5 ] [ rounded-md ] [ text-blue-600 ] [ focus:ring-blue-500 ]"
                                        id="id_{{ field.name }}"
                                        name="{{ field.name }}"
                                        {% if field.value != None %} value="{{ field.value|escape }}" {% endif %}
                                        aria-description="Remember login for next visit"
                                        aria-label="{{ field.label }}"
                                        type="{{ field.field.widget.input_type }}"
                                        value="{{ field.name }}"
                                        {% if field.value %} checked {% endif %}
                                    />
                                    <label
                                        class="[ text-sm text-gray-500 ]"
                                        for="id_{{ field.name }}"
                                        aria-description="Checkbox to remember login details"
                                        aria-labelledby="id_{{ field.name }}">
                                        {{ field.label }}
                                    </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                    <!-- ========================= PUBLIC LOGIN BUTTON ======================== -->
                    <div class="[ flex ] [ items-end ]">
                        <input
                            class="[ input-field peer ] [ block w-full ] [ mb-4 ] [ p-2 ] [ border rounded-md outline-none ] [ font-medium text-base text-gray-500 ] | [ focus:ring-blue-500 focus:border-blue-500 ]"
                            aria-description="Submit form to login and access account"
                            data-view="public"
                            type="submit"
                            value="Login" />
                    </div>
                </div>
                <!-- ========================= PUBLIC LOGIN ROW========================= -->
                <!-- ========================= FORGET PAGASSWORD: LINK ================= -->
                <!-- ========================= FORGET PAGASSWORD: Reset.html =========== -->
            </fieldset>
        </form>
    {% else %}
        This message should never display.
        <p> There has been an error. Contact the Site Adminiistrator</p>
    {% endif %}
{% endblock form_login %}
